/shapefiles/
src/ttemtoolbox/__pycache__/__init__.cpython-310.pyc
src/ttemtoolbox/__pycache__/__init__.cpython-312.pyc
src/ttemtoolbox/__pycache__/_version.cpython-312.pyc
src/ttemtoolbox/__pycache__/main.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/__init__.cpython-310.pyc
src/ttemtoolbox/core/__pycache__/__init__.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/bootstrap.cpython-310.pyc
src/ttemtoolbox/core/__pycache__/bootstrap.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/main.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/plot.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/process_gamma.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/process_ttem.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/process_well.cpython-312.pyc
src/ttemtoolbox/core/__pycache__/Rock_trans.cpython-312.pyc
src/ttemtoolbox/defaults/__pycache__/__init__.cpython-312.pyc
src/ttemtoolbox/defaults/__pycache__/constants.cpython-312.pyc
src/ttemtoolbox/utils/__pycache__/__init__.cpython-312.pyc
src/ttemtoolbox/utils/__pycache__/tools.cpython-312.pyc
test/*
